/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


html {
	/*background:url(../img/C1_Adv_bg2.jpg) center top repeat-y; */
	background:url(../img/sky2.jpg) center bottom fixed no-repeat; 	
	max-width:800px;
		border-top:none;
	border-bottom:none;
	margin:auto;	
	
	

}
body {
	height:100%;
	max-width:800px;
	position:relative;


	

	
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
      -webkit-text-size-adjust: auto;        /*    prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	
	
   /* background-color:#E4E4E4; 
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
   background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%); 
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
	    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	
	*/
	
    font-family:'Times New Roman', serif;
    font-size:100%;
	line-height:120%;
   /* margin:1em; */
    padding:0px;
  /*  text-transform:uppercase; */
  
}

section, #left, #right, #up {
	display:none;
}

sup {
	vertical-align:super;
	font-size:small;
}
sub {
	vertical-align: sub;
	font-size:small;	
}
b {
	font-weight:bold;
}
i {
	font-style: italic;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



/*default version*/
@font-face {
	font-family: "Imprint MT Shadow", "MS Mincho", "ＭＳ 明朝";
	src: url('IMPRISHA.TTF'),
		local('Imprint MT Shadow'),	
		format('truetype');
}



h5 {
	font-weight:bold;
	text-align:center;
	margin:1em auto;
}
h1, h2, h3, h4 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align:center;
	font-family:"Imprint MT Shadow";
	font-weight:bold;
    margin:0.5em auto;
	padding:0.3em;
}
h4.vTitle {
	margin:0.5em auto;
	padding:0;
	position:relative;
	top:1em;
}
h4 {
	font-size:130%;
}

.radius5 {
		border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


h1 {
	
    font-weight:bold;
	
    overflow:visible;
    padding:0px;
   
	
	font-size: x-large;
	text-align:center;
	margin:0.1em auto;
	line-height:150%;		
	
	height:3em;
	
}

h2 {
	font-size:150%;
}

section {
	max-width:35em;
	margin:auto;

}

ul {
	list-style-type:none;
	padding-left:0;
	margin-left:0;
}
li {
	margin:0.5em 0;
	padding:0.5em;
}
#home {
	height:100%;
}
#home h1{
	
}
#lLists {
	position:absolute;
	/*top:5em;*/
	height:60%;
	width:90%;
	
	/*left:50%;
	margin-left:-45%;*/
	left:10%;
	width:80%;
}
#lLists .lList {
	/*height:100%;*/
	width:46%;
	/*border:1px solid red;*/
}
#lLists .lList li {
	height:9%;
	width:91%;
	margin-bottom:1%;
	text-align:center;
	vertical-align:middle;
	line-height:100%;
}
/*
#home {
	width:21em;
	margin:auto;
	
}
.lList {
	
	margin:auto;

	text-align:center;
}

#lLists {
	width:19em;

	
	margin:auto;
	position:relative;
}
*/
.landscape #lLists  li{
	height:1em;
	margin-bottom:0.1em;
	font-size:120%;
}


#lLists ul {
	position:absolute;
	top:0;
	margin-left:2%;
}
#lList2 {
	right:0;
}
/*
#lList1 {
	left:0em;
}
#lList2 {
	left:10em;
}
#lList3 {
	left:20em;
}
*/

.lList li {
	width:6em;
	height:1.2em;
	margin-bottom:0.2em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	background-color: #699DB6; 
	/* background-color: #0570fa; */		
	border-color: rgba(0,0,0,0.3);
 background: linear-gradient(to bottom, #699DB6 50%, navy 100%);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  text-shadow: 0 1px #ccc;
	color: #FFF;
	cursor:pointer;
	font-weight:normal;
	font-size:130%;
}
.lList li:hover {
	 background: linear-gradient(to bottom, navy 50%, #699DB6 100%);
}
p {

	text-indent:2em;

}

p, .dialog {
	font-size:130%;
	line-height:130%;
text-align: justify;
   /* text-justify: inter-word; */
}




/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
	#vittrah4 span {
		display:block;
	}
	
	#home h1{
	height:3em;
	font-size:150%;
	}
		#lLists {
			position:absolute;
		/*	top:12%;*/
			height:80%;
			
			left:10%;
			width:80%;
			/*
			width:60%;
			margin-left:-30%;
			left:50%;
			*/
			/*border:1px solid green;*/
			}
		#lLists .lList {
			
			height:100%;
			/*border:1px solid blue;*/
			width:48%;
		}
		#lList2 {
			position:absolute;
			right:0;
		}
		#lLists .lList li {
			height:20%;
			width:90%;
			left:2%;
			margin-bottom:1%;
			text-align:center;
			vertical-align:top;
			font-size:100%;
		}

	
	
	
	/*
	h1 {
		font-size:140%;	
		
	}
	#lLists  li{
	height:0.9em;
	margin-bottom:0.1em;
	font-size:100%;
	width:8em;
	}
	#lList2 {
		right:0;
	}
	#lLists {
		height:auto;
		margin-top:-1em;
	}
	#home {
		height:15em;
	}
	*/
	
}

#left, #right {
	height:10%;
	width:10%;
}
#left {
	position:fixed;
	left:0;
	top:40%;
}
#right {
	position:fixed;
	right:0;
	top:40%;
}
#up {
position:fixed;
top:0; 
left:0;
width:4em;	
}


.audSpan:hover {
	cursor:pointer;

}




#L1_p1_aud {
	width:30em;
	margin:auto;
	display:block;
}

.audPlaying {
	background:yellow;
}

h3 {
	cursor:pointer;
}
h3:hover {
	color:navy;
	background:blue;
	color:white;
	border-radius:5px;
}


dialog dd {
	
	margin-left:5em;
	margin-bottom:0.5em;
	height:1em;
	position:relative;
	top:-1.5em;

}
dialog dt {
	font-weight:bold;
	margin:0;
	margin-bottom:0.5em;
		height:1em;

}
.dialog td{
	vertical-align:top;
}

.speaker {
	font-weight:bold;
}
.speech {
	padding-left:1em;
}

#L1 h2, #L1 .p5 h3 {
	background: rgb(0,102,0);
	color:white;
}
#L2 h2, #L2 .p5 h3 {
	background: rgb(0,0,204);
	color:white;
}
#L2 h2 {
	font-size:130%;
}	
#L3 h2, #L3 .p5 h3 {
	background: rgb(102,0,102);
	color:white;
}
#L4 h2, #L4 .p5 h3 {
	background: rgb(204,0,0);
	color:white;
}

#R1 h2, #R1 .p5 h3 {
	background: rgb(113,140,44);
	color:white;
}

#L5 h2, #L5 .p5 h3 {
	background: rgb(102,51,0);
	color:white;
}

#L6 h2, #L6 .p5 h3 {
	background: rgb(255,102,0);
	color:white;
}

#L7 h2, #L7 .p5 h3 {
	background: rgb(24,148,127);
	color:white;
}

#L8 h2, #L8 .p5 h3 {
	background: rgb(81,53,68);
	color:white;
}

#R2 h2, #R2 .p5 h3 {
	background: rgb(113,140,44);
	color:white;
}

#L9 h2, #L9 .p5 h3 {
	background: rgb(0,128,0);
	color:white;
}

#L10 h2, #L10 .p5 h3 {
	background: rgb(204,0,204);
	color:white;
}


h2 {
	border-radius:5px;
}
.intro h3 {
	border:1px solid gray;
}

.p1 h3{
	background: rgb(0,0,204);
	color:white;
}

.p2 h3{
	background: rgb(103,51,0);
	color:white;

}

.p3 h3{
	background: rgb(102,0,102);
	color:white;
}

.p4 h3{
	background: rgb(0,102,102);
	color:white;
}




.cDiv {
	display:block;
}
.ncDiv {
	display:none;
}






/* jssora */


        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
			bottom:16px;right:16px;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('../img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
		
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
   
            cursor: pointer;
            background: url('../img/a22.png') center center no-repeat;
            overflow: hidden;
			top:0px;width:40px;height:58px;
			
			
        }
		.jssora22r {
		right:12px;
		}
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }

		/*
		.jssor_0, .jssor_1, .jssor_2 {
		width:35em;
		}
		*/
		
.slideShowInner {
cursor: default; position: relative; top: 0px; left: 0px; width: 35em; overflow: hidden;	
}
.slideShowInner div {
display:none;
}
.jssor {
	position: relative; margin: 0 auto; top: 0px; left: 0px; width: 560px; height: 373px; overflow: hidden; visibility: hidden;
}

.jssor:first-child {
	
}
div[data-u="slides"] {
	width: 560px;  height:373px; overflow: hidden;
}


		
		
		
		/* end jssora */
		
		
/*
.aVideo {
	margin:2em auto;
	width:360px;
}
*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 2em; height: 0; overflow: hidden;
	margin:2em auto;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.outLink {
	margin:1em auto;
	padding:0.5em;
	display:block;
	background:red;
	text-align:center;
	color:white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
background: radial-gradient(ellipse at center, #a90329 0%,#8f0222 73%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
}
.outLink:hover {
background: radial-gradient(ellipse at center, #6d0019 0%,#8f0222 73%, #a90329 100%);	
}


.cMore {
margin:1em auto;
width:16em;
	padding:0.1em 0;
	display:block;
	cursor:pointer;
	text-align:center;
	color:white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
background: radial-gradient(ellipse at center, lightblue 0%,blue 73%,navy 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
font-weight:normal;	
	
}
.cMore:hover {
	background: radial-gradient(ellipse at center, navy 0%,blue 73%,lightblue 100%);
}
.seeMore {
	display:none;
	margin-bottom:2em;
	border:1px solid gray;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow-y:auto;
	overflow-x:hidden;
}

.qFacts dt{
	font-weight:bold;
}
.qFacts dt, .qFacts dd {
	display:block;
	width:45%;
	float:left;
	margin-bottom:1em;
}
.qFacts dt{
	clear:left;
	padding-right:1em;
	text-align:right;
}
.flag {
width:50%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cMap {
	width:100%;
	margin:1em auto;
	display:block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


